* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
	z-index: 2;
}

.footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

body {
	background-color: #80B9FF;
}

#nav-bar-brand {
	color: #00008B;
	font-family: verdana, sans-serif;
	font-weight: bold;
}

.dropdown-label {
	font-weight: bold;
	padding-left: 5px;
}

#mainContainer {
	background-color: #F8F8FF;
	border-radius: 5px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 15px #666666;
}

.pagetitle {
	font-family: fantasy, serif;
	font-size: 3em;
}

.footer {
	margin: 0 auto;
	padding-top: 15px;
	z-index: 2;
	background-color:rgba(0,0,0,0.2);	
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
}


#bg {
	z-index: -1;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
	opacity: 0.3;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.cipherHeading {
	display: inline;
}

.cipherWells {
	margin-top: 10px;
}

.cipherInfoLink {
	margin-top: 10px;
}

.messageTitle {
	font-weight: bold;
}

textarea {
	resize: none;
}

.box-background {
	padding-bottom: 25px;
}

.cipherControls {
	border-top: 1px solid #A9A9A9;
	padding-top: 15px;
	margin: 0 auto;
	text-align: center;
}

.messageButtons {
	margin-top: 15px;
	width: 165px;
	text-align: left;
}

.messageIcons {
	width: 25px;
}

.cipherTextBox {
	margin-top: 15px;
}

.instruction-header {
	font-weight: bold;
	display: block;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.error {
	color: #DC143C;
	font-size: 11px;
}

#more_info {
	border-top: 1px solid black;
  width: 40%;
  padding-top: 10px;
  font-weight: bold;
  display: block;
}

#bottom-row {
	padding-top: 25px;
}

#analysis-img img {
	max-height: 100%;
	max-width: 100%;
}

#original_text {
	color: grey;
}