<div>
	<div class="page-header">
			<span id="interactivetitle">{{ciphertype | uppercase}} CIPHER</span>
	</div>
	
	<div class="row">

		<div class="col-md-3">

			<div>
				<span class="glyphicon glyphicon-asterisk"></span>
				<h3 class="cipherHeading">Instructions</h3>

				<div class="cipherWells">
				  <div class="well well-lg">
				  	<div>
				  		{{data.basicInstructions}}
				  		<span class="instruction-header">Encryption</span>
				  		{{data.encryptInstructions}}
				  		<span class="instruction-header">Decryption</span>
				  		{{data.decryptInstructions}}
				  	</div>
				  </div>
				</div>
			</div>	

			<div class="cipherControls">
				<div class="error-messages">
					<div id="missing-text-error" class="error" ng-show="noMessageProvided">
					 	<span> *Please enter {{message_flag}}</span>
					</div>
					<div id="caesar-key-error" class="error" ng-show="isKeyANumber">
					 	<span> *Not a valid number, must be 0-25!</span>
					</div>
					<div id="vigenere-key-error" class="error" ng-show="isKeyAString">
				 		<span> *Not a valid key, must be a string!</span>
					</div>
					<div id="hill-key-error" class="error" ng-show="isKeyAMatrix">
				 		<span> *Not a valid key, must be numbers delimited by '.'! Ex: 2.5.3.2</span>
					</div>
				</div>
				<div id="key" class="input-group">
				  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key fa-lg"></i></span>
				  <input id="key_text" type="text" class="form-control" placeholder="Key" aria-describedby="basic-addon1">
				</div>

				<button type="button" class="btn btn-info messageButtons" ng-click="cipherCall(ciphertype, 'encrypt')"> <i class="fa fa-lock fa-lg messageIcons"></i> Encrypt Message </button>
				<button type="button" class="btn btn-info messageButtons" ng-click="cipherCall(ciphertype, 'decrypt')"> <i class="fa fa-unlock fa-lg messageIcons"></i> Decrypt Message </button>
				<button type="button" class="btn btn-info messageButtons" ng-click="clearCiphers()"> <i class="fa fa-eraser fa-lg messageIcons"></i> Start Over </button>
			</div>
		</div>

		<div class="col-md-9">
			<div>
				<span class="glyphicon glyphicon-asterisk"></span>
				<h3 class="cipherHeading">Introduction</h3>

				<div class="cipherWells">
				  <div class="well well-lg">
				  	<div>
				  		{{data.introtext}}
				  	</div>
				  	<div class="cipherInfoLink">
				  		<span id="more_info"> Want more information? </span>
				  		<span class="glyphicon glyphicon-question-sign"></span>
				  		<a href="{{data.link}}" target="_blank">Check out this wikipedia link!</a>
				  	</div>
				  </div>
				</div>
			</div>	

			<div>
				<span class="glyphicon glyphicon-asterisk"></span>
				<h3 class="cipherHeading"> Try it out </h3>

				<div class="cipherWells">
				  <div class="well well-lg">
						
						<div>
							<p class="messageTitle">Original {{textType}} Text</p>
				  		<textarea id="original_text" class="form-control" rows="5" type="text" placeholder="Original plain text" readonly></textarea>
						</div>

						<div class="cipherTextBox">
							<p class="messageTitle">Plain Text</p>
							<textarea id="plain_text" class="form-control" rows="5" placeholder="Enter the plain text for encryption"></textarea>
						</div>

						<div class="cipherTextBox">
					  	<p class="messageTitle">Encrypted Text</p>
							<textarea id="encrypted_text" class="form-control" rows="5" placeholder="Enter the encrypted text for decryption"></textarea>
						</div>

				  </div>
				</div>
			</div>
			

		</div>
	</div>
	
</div>